/* ---- Reset and Variables ---- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: rgb(108, 120, 236);
  --secondary-color: rgb(148, 135, 226);
  --accent-color: rgb(249, 247, 253);
  --page-color: rgb(68, 68, 68);
  --text-accent-color: rgb(238, 0, 0);
  --color-white: white;
  --color-black: black;
}

/* ---- Flex ---- */

.flex {
  display: flex;
}

.flex--col {
  flex-direction: column;
}

.flex--gap {
  gap: 5px;
}

.flex--space-between {
  justify-content: space-between;
}

/* ---- Mixes ---- */

.section {
  background-color: var(--accent-color);
  border-radius: 5px;
  padding: 10px;
}

.section--margin-b-s {
  margin-bottom: 5px;
}

.button {
  background-color: var(--secondary-color);
  color: var(--color-white);
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-family: "Roboto", sans-serif;
}

.button:hover {
  background-color: var(--primary-color);
}

.button--active {
  background-color: var(--primary-color);
  font-weight: 700;
}

.input {
  border: solid 3px var(--secondary-color);
  color: var(--color-black);
  background-color: var(--color-white);
  border-radius: 5px;
  padding: 5px 10px;
  font-family: "Roboto Condensed", sans-serif;
}

.input:hover {
  border: solid 3px var(--primary-color);
}

.input:focus {
  outline: none;
}

.input::placeholder {
  color: var(--color-black);
  text-align: center;
}

/* ---- ---- */

.body {
  background-color: var(--page-color);
  max-width: 80vw;
  margin: auto;
  padding-top: 5px;
  font-family: "Roboto Condensed", sans-serif;
}

/* ---- ---- */

.header__title {
  text-decoration: none;
}

/* ---- ---- */

.main {
  flex: 1 0;
}

/* ---- ---- */

.input-product__number {
  width: 100px;
}

/* ---- ---- */

.input-buttons {
  justify-content: center;
  margin-top: 5px;
}

/* ---- ---- */

.product {
  border-top: solid 1px var(--page-color);
  border-left: solid 1px var(--page-color);
  border-radius: 5px;
  background-color: var(--accent-color);
  box-shadow: 2px 2px 2px var(--page-color);
  margin-bottom: 10px;
}

.product__title {
  text-align: center;
  margin-block: 10px;
  color: var(--primary-color);
}

/* ---- ---- */

.product-table {
  width: 90%;
  text-align: center;
  margin: auto;
  border-collapse: collapse;
}

.product-table__head {
  background-color: var(--secondary-color);
  color: var(--color-white);
  font-family: "Roboto", sans-serif;
  height: 20;
}

.product-table__row {
  border-top: 1px solid var(--secondary-color);
  height: 42px;
}

.product-table__row--head {
  height: 20px;
}

.product-table--number-col {
  text-align: right;
  padding-right: 2px;
}

.product-table--icon-col {
  text-align: left;
  padding-left: 2px;
}

.product-table__icon {
  height: 2em;
  vertical-align: middle;
  border-radius: 5px;
}

/* ---- ---- */

.info {
  flex: 0 0 20vw;
}

.info__title {
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.info__text {
  margin: 10px 5px;
}

.info__link {
  color: var(--text-accent-color);
  font-weight: bold;
  text-decoration: none;
}

.info__link:visited {
  color: var(--text-accent-color);
}

.info__link:hover {
  opacity: 0.7;
}
