<aside class="w-1/5 flex-none rounded-md bg-accent p-3">
  <h3 class="font-roboto text-center">About</h3>
  <p class="mx-2 my-3">
    This is a calculator to help plan production lines in the game
    <a
      class="text-[red]"
      href="https://store.steampowered.com/app/1894430/Plan_B_Terraform/"
      >Plan B: Terraform</a
    >
  </p>
  <p class="mx-2 my-3">
    It allows you to quickly plan out production lines and get an idea of what
    buildings and resources are needed.
  </p>
  <p class="mx-2 my-3">
    It was written by
    <a class="text-[red]" href="https://github.com/MennoWemekamp"
      >Menno Wemekamp</a
    >.
  </p>
  <p class="mx-2 my-3">
    Version: <a
      class="text-[red]"
      href="https://github.com/MennoWemekamp/Planner-B">1.0-astro</a
    >
  </p>
</aside>
