<header class="mb-2 flex justify-between rounded-md bg-accent p-3">
  <a href="#" class="font-roboto rounded-md bg-primary px-2 py-1 text-text"
    >Planner-B</a
  >
  <nav class="flex gap-2">
    <div
      class="font-roboto rounded-md bg-secondary px-2 py-1 text-text hover:bg-primary hover:text-background"
    >
      about
    </div>
    <div
      class="font-roboto rounded-md bg-secondary px-2 py-1 text-text hover:bg-primary hover:text-background"
    >
      instruction
    </div>
    <div
      class="font-roboto rounded-md bg-secondary px-2 py-1 text-text hover:bg-primary hover:text-background"
    >
      recipes
    </div>
  </nav>
</header>
