---
import "../../css/global.css";
import "@fontsource/roboto-condensed/300-italic.css";
import "@fontsource/roboto-condensed/400-italic.css";
import "@fontsource/roboto-condensed/700-italic.css";
import "@fontsource/roboto/400-italic.css";
import "@fontsource/roboto/700-italic.css";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Planner B</title>
  </head>
  <body class="bg-background text-text">
    <h1>Hello, testing</h1>
  </body>
</html>
